{% extends 'layouts/base.html' %} {% set active_page = "matchdays and matches" %} {% block content %}

<link type="text/css" rel="stylesheet" href="/static/css/matches.css" />

<div class="real-body" style="margin-bottom: 32px;">
    <div class="center">
        <div style="margin-top: 32px;">
            <h1>Jornada {{matchday_id}}</h1>
        </div>
        <div>
            <form method="post" action="{{url_for('matches', matchday_id = matchday_id)}}">
                <input type="submit" value="Obtener partidos desde API" name="update_JSON" style="margin-left: 16px;" />
                <input type="submit" value="Actualizar partidos en Firebase" name="update_FB"
                    style="margin-left: 16px;" />
            </form>
        </div>

        <h2 style="margin-top: 32px;">Partidos (JSON)</h2>

        <div class="table-div">
            <table>
                <tr>
                    <th class="id-column">ID</th>
                    <th class="result-column" colspan="3">Resultado</th>
                </tr>
                {% for item in matches%}
                <tr class="{{loop.cycle('row1', 'row2')}}">
                    <td class="id-column">{{item.id}}</td>
                    <td class="home-column">{{teams[item.homeTeam.id]}}</td>
                    <td class="result-column">{{item.homeTeamGoals if item.homeTeamGoals != None else "x"}} -
                        {{item.awayTeamGoals if item.awayTeamGoals != None else "x"}}</td>
                    <td class="away-column">{{teams[item.awayTeam.id]}}</td>
                </tr>
                {%endfor%}
            </table>
        </div>
    </div>
    {% endblock %}