{% extends 'layouts/base.html' %} {% set active_page = "matchdays and matches" %} {% block content %}

<link type="text/css" rel="stylesheet" href="/static/css/matchdays.css" />

<div class="real-body" style="margin-bottom: 32px;">
    <div class="center">
        <div class="content-inline" style="margin-top: 32px;">
            <div>
                <p>Jornada actual (JSON): {{current_matchday_JSON}}</p>
                <p>Jornada actual (FireBase): {{current_matchday_FB}}</p>
                <p>Actualizado por última vez: {{values['last_update_get_teams_api']}}</p>
            </div>
            <form method="post" action="{{url_for('matchdays')}}">
                <div>
                    <input type="submit" value="Actualizar" name="update" style="margin-left: 16px;" />
                </div>
            </form>
        </div>

        <h2 style="margin-top: 32px;">Jornadas (Firebase)</h2>

        <div class="table-div">
            <table>
                <tr>
                    <th class="id-column">ID</th>
                    <th>Jornada</th>
                    <th>Inicio mercado</th>
                    <th>Inicio periodo de partidos</th>
                    <th>Fin de jornada</th>
                    <th class="action-column"></th>
                </tr>
                <tr>
                    <th class="th-subtitle" colspan="6">Jornadas actuales</th>
                </tr>
                {% for item in current_matchdays%}
                <tr class="{{loop.cycle('row1', 'row2')}}">
                    <td class="id-column">{{item.id}}</td>
                    <td><a href="{{url_for('matches', matchday_id = item.matchDay|string)}}">{{item.matchDay}}</a></td>
                    <form method="post" action="{{url_for('matchdays')}}">
                        {%if item.matchDay >= current_matchday_JSON%}
                        <input type="hidden" name="id" value="{{item.id}}" />
                        {%endif%}
                        <td>
                            {{item.startMarket.strftime('%Y/%m/%d %H:%M:%S') if item.startMarket != None else "-"}}
                            {%if item.matchDay >= current_matchday_JSON%}
                            <input type="datetime-local" name="new_startMarket" placeholder="Nueva fecha">
                            {%endif%}
                        </td>
                        <td>
                            {{item.startMatchPeriod.strftime('%Y/%m/%d %H:%M:%S') if item.startMatchPeriod != None else
                            "-"}}
                            {%if item.matchDay >= current_matchday_JSON%}
                            <input type="datetime-local" name="new_startMatchPeriod" placeholder="Nueva fecha">
                            {%endif%}
                        </td>
                        <td>
                            {{item.endDate.strftime('%Y/%m/%d %H:%M:%S') if item.endDate != None else "-"}}
                            {%if item.matchDay >= current_matchday_JSON%}
                            <input type="datetime-local" name="new_endDate" placeholder="Nueva fecha">
                            {%endif%}
                        </td>
                        <td>
                            {%if item.matchDay >= current_matchday_JSON%}
                            <input type="submit" class="input-table" value="Editar fechas" name="edit_dates">
                            {%endif%}
                        </td>
                    </form>
                </tr>
                {% endfor %}
                <tr>
                    <th class="th-subtitle" colspan="6">Todas las jornadas</th>
                </tr>
                {% for item in fb_matchdays%}
                <tr class="{{loop.cycle('row1', 'row2')}}">
                    <td class="id-column">{{item.id}}</td>
                    <td><a href="{{url_for('matches', matchday_id = item.matchDay|string)}}">{{item.matchDay}}</a></td>
                    <form method="post" action="{{url_for('matchdays')}}">
                        {%if item.matchDay >= current_matchday_JSON%}
                        <input type="hidden" name="id" value="{{item.id}}" />
                        {%endif%}
                        <td>
                            {{item.startMarket.strftime('%Y/%m/%d %H:%M:%S') if item.startMarket != None else "-"}}
                            {%if item.matchDay >= current_matchday_JSON%}
                            <input type="datetime-local" name="new_startMarket" placeholder="Nueva fecha">
                            {%endif%}
                        </td>
                        <td>
                            {{item.startMatchPeriod.strftime('%Y/%m/%d %H:%M:%S') if item.startMatchPeriod != None else
                            "-"}}
                            {%if item.matchDay >= current_matchday_JSON%}
                            <input type="datetime-local" name="new_startMatchPeriod" placeholder="Nueva fecha">
                            {%endif%}
                        </td>
                        <td>
                            {{item.endDate.strftime('%Y/%m/%d %H:%M:%S') if item.endDate != None else "-"}}
                            {%if item.matchDay >= current_matchday_JSON%}
                            <input type="datetime-local" name="new_endDate" placeholder="Nueva fecha">
                            {%endif%}
                        </td>
                        <td>
                            {%if item.matchDay >= current_matchday_JSON%}
                            <input type="submit" class="input-table" value="Editar fechas" name="edit_dates">
                            {%endif%}
                        </td>
                    </form>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>

{% endblock %}