{% extends 'layouts/base.html' %} {% set active_page = "teams and players" %} {% block content %}

<link type="text/css" rel="stylesheet" href="/static/css/players.css" />

<div class="real-body" style="margin-bottom: 32px;">
    <div class="center">
        <h2 style="margin-top: 32px;">Jugadores de {{team.longName}} (JSON y DB)</h2>
        <div class="table-div">
            <table>
                <tr>
                    <th>ID</th>
                    <th class="name-column">Name</th>
                    <th class="value-column">Valor</th>
                    <th>Editar valor</th>
                </tr>
                {% for item in players%}
                <tr class="{{loop.cycle('row1', 'row2')}}">
                    <td>{{item.id}}</td>
                    <td class="name-column">{{item.name}}</td>
                    <td class="value-column">
                        {{item.value}} €
                    </td>
                    <td>
                        <form method="post" action="{{url_for('players', team_id = team.id|string)}}" class="form-inline">
                            <input type="hidden" name="id" value="{{item.id}}">
                            <input type="text" name="new_value" placeholder="Nuevo valor" required>
                            <input type="submit" class="input-table" value="Editar valor" name="edit_player_value" style="margin-left: 15px !important;">
                        </form>
                    </td>
                </tr>
                {%endfor%}
            </table>
        </div>
    </div>
</div>
{% endblock %}