{% extends 'layouts/base.html' %} {% set active_page = "points" %} {% block content %}

<link type="text/css" rel="stylesheet" href="/static/css/points.css" />

<div class="real-body" style="margin-bottom: 32px;">
    <div class="center">
        <div class="content-inline" style="margin-top: 32px;">
            <form method="post" action="{{url_for('points')}}">
                <div class="margin-horizontal-32px">
                    <input type="submit" value="Actualizar puntos en Firebase" name="update_points_FB" />
                </div>
                <div class="margin-horizontal-32px">
                    <input type="submit" value="Resetear puntos última jornada" name="reset_all_pointsLM" />
                </div>
                <div class="margin-horizontal-32px">
                    <p>Última actualización de Firebase: {{values['last_update_points_fb']}}</p>
                </div>
            </form>
        </div>
        <h2 style="margin-top: 32px;">Equipos</h2>
        <div class="table-div">
            <table>
                <tr>
                    <th colspan="10">Equipos</th>
                </tr>
                <tr class="row1">
                    {% for item in teams1%}
                    <td><a href="{{url_for('team_points', team_id = item.id|string)}}">{{item.name}}</a></td>
                    {% endfor %}
                </tr>
                <tr class="row2">
                    {% for item in teams2%}
                    <td><a href="{{url_for('team_points', team_id = item.id|string)}}">{{item.name}}</a></td>
                    {% endfor %}
                </tr>
            </table>
        </div>
    </div>
</div>


{% endblock %}