{% extends 'layouts/base.html' %} {% set active_page = "teams and players" %} {% block content %}

<link type="text/css" rel="stylesheet" href="/static/css/teams.css" />

<div class="real-body" style="margin-bottom: 32px;">
    <div class="center">
        <div class="content-inline" style="margin-top: 32px;">
            <div class="margin-horizontal-32px">
                <form method="post" action="{{url_for('teams')}}">
                    <div>
                        <input type="submit" value="Obtener equipos desde API" name="get_teams_API" />
                    </div>
                    <div>
                        <input type="submit" value="Actualizar equipos en Firebase" name="set_teams_FB" />
                    </div>
                </form>
            </div>
            <div class="margin-horizontal-32px">
                <p>Última actualización de JSON desde API: {{values['last_update_get_teams_api']}}</p>
                <p>Última actualización de Firebase desde JSON: {{values['last_update_set_teams_fb']}}</p>
            </div>
        </div>

        <h2 style="margin-top: 32px;">Equipos (JSON)</h2>

        <div class="table-div">
            <table>
                <tr>
                    <th class="id-column">ID</th>
                    <th class="name-column">Nombre</th>
                    <th>Acciones</th>
                    <th>Ult. actualización API</th>
                    <th>Ult. actualización FM</th>
                    <th>Ult. actualización FB</th>
                </tr>
                {% for item in teams %}
                <tr class="{{loop.cycle('row1', 'row2')}}">
                    <td class="id-column">{{item.id}}</td>
                    <td class="name-column"><a
                            href="{{url_for('players', team_id = item.id|string)}}">{{item.longName}}</a></td>
                    <td>
                        <form method="post" action="{{url_for('teams')}}">
                            <input type="hidden" name="id" value="{{item.id}}" />
                            <input type="submit" class="input-table" value="Obtener jugadores desde API"
                                name="get_players_api" />
                            <input type="submit" class="input-table" value="Obtener valores desde TM"
                                name="get_players_TM" />
                            <input type="submit" class="input-table" value="Actualizar jugadores en Firebase"
                                name="set_players_FB" />
                        </form>
                    </td>
                    <td class="last-api-column">{{values["last_update_get_team_" + item.id|string + "_players_api"] if
                        "last_update_get_team_" + item.id|string + "_players_api" in values else " - "}}</td>
                    <td class="last-tm-column">{{values["last_update_get_team_" + item.id|string + "_values_tm"] if
                        "last_update_get_team_" + item.id|string + "_values_tm" in values else " - "}}</td>
                    <td class="last-fb-column">{{values["last_update_set_team_" + item.id|string + "_players_fb"] if
                        "last_update_set_team_" + item.id|string + "_players_fb" in values else " - "}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}