{% extends 'layouts/base.html' %} {% set active_page = "points" %} {% block content %}

<link type="text/css" rel="stylesheet" href="/static/css/team_points.css" />

<div class="real-body" style="margin-bottom: 32px;">
    <div class="center">
        <h2 style="margin-top: 32px;">Jugadores de {{team.longName}}</h2>

        <div class="table-div">
            <table>
                <tr>
                    <th>ID</th>
                    <th class="name-column">Name</th>
                    <th>Puntos última jornada</th>
                    <th>Puntos totales</th>
                </tr>
                {% for item in players%}
                <tr class="{{loop.cycle('row1', 'row2')}}">
                    <td>{{item.id}}</td>
                    <td class="name-column">{{item.name}}</td>
                    <td>
                        <div class="content-inline">
                            {{item.pointsLastMatch}}
                            <form method="post" action="{{url_for('team_points', team_id = team.id|string)}}"
                                class="form-inline" style="margin-left: 16px;">
                                <input type="hidden" name="id" value="{{item.id}}">
                                <input type="text" name="new_points" placeholder="Nuevos puntos" required>
                                <input type="submit" class="input-table" value="Editar puntos" name="edit_player_points"
                                    style="margin-left: 15px !important;">
                            </form>
                        </div>
                    </td>
                    <td>{{item.totalPoints}}</td>
                </tr>
                {%endfor%}
            </table>
        </div>
    </div>
</div>

{% endblock %}