<!doctype html>

<link type="text/css" rel="stylesheet" href="/static/css/header.css" />
<link type="text/css" rel="stylesheet" href="/static/css/global.css" />

<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock %}</title>
</head>

<body class="body-navbar">
    <div class="topnav">
        <div class="topnav-left">
            <a class='{{"active" if active_page == "home" else ""}}' href="{{url_for('home')}}">Home</a>
            <a class='{{"active" if active_page == "teams and players" else ""}}' href="{{url_for('teams')}}">Equipos y jugadores</a>
            <a class='{{"active" if active_page == "matchdays and matches" else ""}}' href="{{url_for('matchdays')}}">Jornadas y partidos</a>
            <a class='{{"active" if active_page == "points" else ""}}' href="{{url_for('points')}}">Puntuaciones</a>
        </div>
    </div>

    {% block content %}{% endblock %}
</body>


</html>