@font-face {
    font-family: 'Roboto';
    src: URL('../fonts/Roboto-Regular.ttf') format('truetype');
}

* {
    font-family: Roboto;
    color: #DEDEDE;
}

.body-navbar {
    margin: 0px;
}

body {
    background-color: #292929;
}

/*############## margins #####################*/

.margin-horizontal-32px {
    margin-left: 32px;
    margin-right: 32px;
}

.margin-horizontal-32px {
    margin-left: 32px;
    margin-right: 32px;
}

/*############## divs #####################*/

.center {
    text-align: center;
    margin: auto;
}

.content-inline {
    overflow: hidden;
    display: inline-flex;
    align-items: center;
}

/*############## texto #####################*/

.green-text {
    color: green !important
}

.red-text {
    color: red !important
}

/*############## inputs #####################*/

input[type=submit] {
    font-size: 16px;
    width: 250px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0);
    color: #2B8800;
    border-radius: 15px;
    border: 2px solid #2B8800;
    margin: 12px;
}

input[type=submit]:hover {
    background-color: rgba(43, 136, 0, 0.25);
}

input[type=submit]:focus {
    background-color: rgba(0, 0, 0, 0);
}

input[type=text], input[type=datetime-local] {
    background-color: transparent !important;
    border: 1px solid #2B8800 !important;
    border-radius: 5px;
    height: 25px;
    text-indent: 4px;
}

/*############## Tablas #####################*/

table {
    width: 100%;
    overflow: hidden;
    border-collapse: collapse;
    border-radius: 20px;
    text-align: center;
}

th {
    background-color: black;
}

td, th {
    text-align: center;
    height: 50px;
}

.row1 {
    background-color: #353535 !important;
}

.row2 {
    background-color: #202020 !important;
}

.th-subtitle {
    background-color: #111111 !important;
}

.input-table {
    width: auto !important;
    padding-left: 12px;
    padding-right: 12px;
    height: 35px !important;
    border-radius: 10px !important;
    font-size: 14px !important;
    margin: 6px !important;
}