.topnav {
    background-color: black;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}


/* Style the links inside the navigation bar */

.topnav a {
    float: left;
    text-align: center;
    padding: 18px 18px;
    text-decoration: none;
    font-size: 18px;
}


/* Change the color of links on hover */

.topnav a:hover {
    background-color: #2B8800;
    color: #DEDEDE;
}


/* Add a color to the active/current link */

.topnav a.active {
    background-color: #2B8800;
    color: black;
}