.table-div {
    width: 650px;
    text-align: center;
    margin: 0 auto;
}

.result-column{
    text-align: center !important;
    width: 15% ;
}

.home-column{
    text-align: end !important;
    width: 30%;
}

.away-column{
    text-align: start !important;
    width: 30%;
}