.table-div {
    width: 90%;
    text-align: center;
    margin: 0 auto;
}

input[type=datetime-local]{
    margin-left: 10px;
}

::-webkit-calendar-picker-indicator {
    filter: invert(0.8) !important;
}

.id-column{
    width: 6% !important;
}


.action-column{
    width: 10% !important;
}