.id-column {
    width: 7%;
}

.name-column{
    width: 17%;
}

.last_api_column{
    width: 10%;
}

.last_fb_column{
    width: 10%;
}

.last-tm-column{
    width: 10%
}

.table-div {
    width: 90%;
    text-align: center;
    margin: 0 auto;
}